/*
Syntax error: Invalid CSS after "  color:": expected expression (e.g. 1px, bold), was "}"
        on line 22 of _sass/_type.scss
        from line 8 of _sass/i.scss

17: h1,.h1 {
18:   font-size:$type-1;
19:   font-family: "proxima-nova";
20:   font-weight:900;
21:   color:
22: }
23: 
24: h2,.h2 {
25:   font-size:$type-2;
26: }
27: 

Backtrace:
_sass/_type.scss:22
_sass/i.scss:8
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:1136:in `expected'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/script/lexer.rb:199:in `expected!'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/script/parser.rb:471:in `assert_expr'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/script/parser.rb:49:in `parse'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:1010:in `sass_script'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:870:in `value!'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:847:in `declaration'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:570:in `block in declaration_or_ruleset'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:1110:in `call'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:1110:in `rethrow'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:580:in `declaration_or_ruleset'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:542:in `block_child'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:534:in `block_contents'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:523:in `block'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:517:in `ruleset'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:541:in `block_child'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:534:in `block_contents'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/scss/parser.rb:27:in `parse'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/engine.rb:342:in `_to_tree'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/engine.rb:274:in `to_tree'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:223:in `visit_import'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/mrmrs/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  color:\": expected expression (e.g. 1px, bold), was \"}\"\A         on line 22 of _sass/_type.scss\A         from line 8 of _sass/i.scss\A \A 17: h1,.h1 {\A 18:   font-size:$type-1;\A 19:   font-family: \"proxima-nova\";\A 20:   font-weight:900;\A 21:   color:\A 22: }\A 23: \A 24: h2,.h2 {\A 25:   font-size:$type-2;\A 26: }\A 27: "; }
