/* ==========================================================================
   DIMENSIONS
   ========================================================================== */

  

/* Widths
   ========================================================================== */

.half    { width: 50%; }
.third   { width: 33%; }
.quarter { width: 25%; }
.fifth   { width: 20%; }



/* Width + Height
   ========================================================================== */

.touch {
  height: 48px;
  width:  48px;
}

