/* ==========================================================================
   Text Links
   ========================================================================== */

/* Removes default underline for text links. 
   ========================================================================== */
a,
.tl,
.tl:link,
.tl:visited,
.tl:hover,
.tl:active,
.tl:focus {
  text-decoration:none;
  color:#444;
}

.download-btn {
  border-radius: 2px;
  background: #eee;
  @extend .sans-serif;
  @extend .caps-lock;
}
.opacity-hover {-webkit-transition:opacity .4s;opacity:1;}
.opacity-hover:hover {
  opacity:0.8;
  -webkit-transition:opacity .4s;
}
