/* ==========================================================================
   SKINS
   ========================================================================== */
  
.bt {border-top:1px solid #ddd;}

/* Background Dark */
.bg-dk {
  background:#111;
  color:#f3f3f3;
}

/* Background Light */
.bg-li {
  color:#111;
  background:#f3f3f3;
}

/* Background Medium */
.bg-mi {
  color:#777;
  background:#ddd;
}

/* Default Browser skin */

.default {
  color:#000;
  background:#fff;
}
