/* ==========================================================================
   STYLES
   ========================================================================== */

body,html {height:100%;position:relative;margin:0;padding:0;font-size:20px;}
* { box-sizing:border-box; }
.banner-img {
  background:url(/images/banner.jpg) no-repeat center center;
  background-size:cover;
}

.site-footer {
  
}

.feature-list {
  list-style-type:none;
  margin:0;
  padding-left:0;
  .list-item {
    margin:0;
    padding:10px 0; 
  }
}

.content {
  margin:0 auto;
  max-width:700px;
}

.column {
  margin:0 auto;
  max-width:640px;
}

.twitter {
  margin:10px auto;
  height:48px;
  width:48px;
  background:url(../images/twitter.svg) no-repeat center left;
  background-size:48px 48px;
  display:block;
  text-indent:-9999px;
  line-height:48px;
  font-size:14px;
  text-transform:uppercase;
  color:#fff;
  font-weight:600;
  -webkit-transition:text-indent .4s,opacity .4s;
  &:hover {
    -webkit-transition:text-indent .4s,opacity .4s;
    opacity:0.8;
    text-indent:56px;
  }
}

.download {
  -webkit-transition:background 0.5s;
}

.download:hover {
  background-color:darken($brand-color,30%);
  -webkit-transition:background 0.5s;
}
