/* ==========================================================================
   STYLES
   ========================================================================== */

body,html {height:100%;position:relative;margin:0;padding:0;font-size:20px;}
* { box-sizing:border-box; }
.banner-img {
  background:url(/images/banner.jpg) no-repeat center center;
  background-size:cover;
}

.site-footer {
  
}

.feature-list {
  list-style-type:none;
  margin:0;
  padding-left:0;
  .list-item {
    margin:0;
    padding:10px 0; 
  }
}

.content {
  margin:0 auto;
  max-width:700px;
}

.column {
  margin:0 auto;
  max-width:640px;
}



.twitter {
  background-image:url(../images/twitter.svg);
  background-repeat: no-repeat;
  background-position: top-left;
  &:hover {
    -webkit-transition:text-indent .4s,opacity .4s;
    opacity:1;
    text-indent:52px;
  }
}

.github {
  background-image:url(../images/octocat.svg);
  background-repeat: no-repeat;
  background-position: top-left;
  &:hover {
    -webkit-transition:text-indent .4s, opacity .4s;
    opacity:1;
    text-indent:-150px;
  }
}

.download {
  -webkit-transition:background 0.5s;
}

.download:hover {
  background-color:darken($brand-color,30%);
  -webkit-transition:background 0.5s;
}

.social-icon {
  height:48px;
  width:48px;
  background-size:48px 48px!important;
  display:inline-block;
  line-height:48px;
  font-size:14px;
  text-indent:-9999px;
  text-transform:uppercase;
  font-weight:600;
  color:#fff;
  opacity:0.8;
  -webkit-transition:text-indent .4s, opacity .4s;
  transition:text-indent .4s, opacity .4s;
}
