/* ==========================================================================
   TYPE 

   - Headers
   ========================================================================== */
body {font-family:baskerville;}
.serif {font-family: georgia;}
.ss,.sans-serif {font-family:"proxima-nova", helvetica, arial, sans-serif;}

/* Headers
   ========================================================================== */

h1             { font-family: "omnes-pro", sans-serif;}
h2,h3,h4,h5,h6 { font-family: "proxima-nova", helvetica, sans-serif;font-weight:100;}

.bold-italic {   
                 font-style:italic;
                 font-weight:900;
}
.fw-6 { font-weight:600; }


.mega {font-size:$font-size-wth;}
h1,.h1,.f1 { font-size: $font-size-1;   }
h2,.h2,.f2 { font-size: $font-size-2;   }
h3,.h3,.f3 { font-size: $font-size-3;   }
h4,.h4,.f4 { font-size: $font-size-4;   }
h5,.h5,.f5 { font-size: $font-size-5;   }
h6,.h6,.f6 { font-size: $font-size-6;   }

@include breakpoint(tablet){.h3 {font-size:$font-size-2;}}
@include breakpoint(desktop){
  .mega  { 
    font-size: $font-size-wtf; 
  }
  .h3 {
    font-size: $font-size-2; 
  }
}

/* Copy
   ========================================================================== */

.intro {  font-size: $font-size-intro;}
p {       font-size: $font-size-4; line-height:1.5;}
.meta {   font-size: $font-size-6;}


/* Casing
   ========================================================================== */

.caps-lock  { text-transform:uppercase; }
.title-casing { text-transform:capitalize; }



/* Tracking
   ========================================================================== */

.title      { letter-spacing:0.15em; text-transform:uppercase;}


/* Alignment
   ========================================================================== */

.ar         { text-align: right;  }
.al         { text-align: left;   }
.ac,
.ct         { text-align: center; }



/* Wrapping
   ========================================================================== */

.nw    { white-space:nowrap; }



/* Leading
   ========================================================================== */

.lh-1       { line-height:1; }
.lh-2       { line-height:2; }
.lh-title   { line-height:1.3; }
.lh-copy    { line-height:1.5; }
