code {
  background:$grey-dark;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  display:block;
  font-family: 
    Consolas, 
    "Andale Mono WT", 
    "Andale Mono", 
    "Lucida Console", 
    "Lucida Sans Typewriter", 
    "DejaVu Sans Mono", 
    "Bitstream Vera Sans Mono", 
    "Liberation Mono", 
    "Nimbus Mono L", 
    Monaco, 
    "Courier New", 
    Courier, 
    monospace;
  font-size:14px;
  line-height:1.4;
  letter-spacing:0.1em;
  margin:1em 0;
  overflow:scroll;
  padding:1em;
  @include breakpoint(one-hand) {
    padding:1em 0.2em;
  }
}
