a {
 text-decoration:none;
 font-family: "proxima-nova"!important;
}

.fuck-yeah-button {
  display:inline-block;
  padding:2em;
  border-radius:4px;
  background-color:#eee;
  color:#222;
  font-weight:bold;
  margin-bottom:1em;
  font-size:$type-3;
}

.clone-this-dont-download-but-whatever {
  margin:2em 0;
}
