a {
 text-decoration:none;
 font-family: 'ff-meta-web-pro',sans-serif;
 font-weight:100;
}

.fuck-yeah-button {
  background-color:#eee;
  border-radius:4px;
  color:#222;
  display:inline-block;
  font-weight:bold;
  font-size:$type-4;
  margin-bottom:1em;
  padding:1em;
}

.clone-this-dont-download-but-whatever {
  margin:2em 0;
}

.fuck-yeah-github {
  text-align:center;
  display:block;
  width:100%;
  padding:1.5em;
  background-color:#222;
  color:#ddd;
  font-size:12px;
}
