a {
 font-family: "proxima-nova"!important;
 text-decoration:none;
}

.fuck-yeah-button {
  background-color:#eee;
  border-radius:4px;
  color:#222;
  display:inline-block;
  font-weight:bold;
  font-size:$type-4;
  margin-bottom:1em;
  padding:1em;
}

.clone-this-dont-download-but-whatever {
  margin:2em 0;
}
