.post {
    ul,dl {
      line-height:1.618; 
      font-size:$type-4;
      margin-bottom:1em;
    }
    dt {
      font-weight:bold; 
    }
    dd {
      margin-bottom:.5em; 
      color:$grey-medium;
    }
    ul {
      list-style-type:disc; 
      margin-left:1em;
    }
}
