nav[role="navigation"] li,
ul.social li {
  display:inline-block;
  font-size:$type-4;
  //border-right: 1px solid #ddd;

  &:last-child {
    border-right: none;
  }
  a {
    font-weight:100;
    color:$grey-medium;
    display:block;
    padding-right:1em;
    text-decoration: none;
    &:hover,
    &:focus {
      color:$orange;
    }
    &:active {
      color: #666;
    }
  }
}

.horizontal {
  li {display:inline-block;}
  li a {
    padding:.5em 1em;
    border-radius:4px;
    background:#eee;
    outline:1px solid #e3e3e3;
    text-decoration:none;
  }
}
