// Include all the partials you want compiled into i.css

@import "normalize";

@import "vars";
@import "colors";
@import "grid";
@import "type";
@import "skins";
@import "lists";
@import "buttons";
@import "links";
@import "nav";
@import "spacing";
@import "images";
@import "syntax";
@import "code";
