// Include all partials you want compiled to i.css. You don't need to include the _ (underscore). Hooray.

@import "variables";
@import "queries";
@import "normalize";

@import "grid";
@import "type";
@import "styles";

